Repository ietf-wg-ppm/draft-ietf-ppm-dap, pull requests merged in 2024-09, with the labels that each got.

#585 Fix all build warnings, remove references to closed issues
  draft-ietf-ppm-dap.md
Labels: editorial, draft-12

#576 Add operational consideration around max aggregation job size.
  draft-ietf-ppm-dap.md
Labels: aggregation cost, draft-12

#564 Helper-side aggregation job init/continue asynchronous processing
  draft-ietf-ppm-dap.md
Labels: wire breaking, aggregation cost, draft-12

#582 Tighten language around replay protection
  draft-ietf-ppm-dap.md
Labels: draft-12

#589 Ack Ameer, Kristine, and Suman
  draft-ietf-ppm-dap.md
Labels: draft-12

#592 Update @ekr's affiliation
  draft-ietf-ppm-dap.md
Labels: draft-12

#590 Document more storage and runtime requirements
  draft-ietf-ppm-dap.md
Labels: draft-12

#591 Replace "collection job URI" with its definition
  draft-ietf-ppm-dap.md
Labels: draft-12

#594 Move message encoding to conventions section
  draft-ietf-ppm-dap.md
Labels: editorial, draft-12

#593 Say "interaction" instead of "sub-protocol"
  draft-ietf-ppm-dap.md
Labels: editorial, draft-12
