Repository ietf-wg-ppm/draft-ietf-ppm-dap, pull requests merged in 2024-10, with the labels that each got.

#599 Fix typos
  draft-ietf-ppm-dap.md
Labels: draft-12

#598 Editorial changes to sourcecode/artwork elements
  draft-ietf-ppm-dap.md
Labels: draft-12

#595 Add synchronization concerns to operational considerations.
  draft-ietf-ppm-dap.md
Labels: draft-12

#600 Move draft-irtf-cfrg-vdaf-08 to 12
  draft-ietf-ppm-dap.md
Labels: wire breaking, draft-12

#602 Remove replay check from "input share validation" section.
  draft-ietf-ppm-dap.md
Labels: editorial, draft-12

#605 Editorial: link to encrypting input shares
  draft-ietf-ppm-dap.md
Labels: editorial, draft-12

#596 Align collection job with new aggregation job semantics
  draft-ietf-ppm-dap.md
Labels: wire breaking, draft-12

#607 Say the job is "ready" rather than "finished"
  draft-ietf-ppm-dap.md
Labels: editorial, draft-12

#611 Update PrepareError allocations (*)
  draft-ietf-ppm-dap.md
Labels: wire breaking, draft-12

#601 Update changelog for DAP-12.
  draft-ietf-ppm-dap.md
Labels: wire breaking, draft-12

#612 Improve IANA considerations
  draft-ietf-ppm-dap.md
Labels: draft-13

#614 Rename "prepare error" to "report error"
  draft-ietf-ppm-dap.md
Labels: draft-13

#613 Rename "upload extension" to "report extension"
  draft-ietf-ppm-dap.md
Labels: draft-13

#615 Pass of abstract, intro, and references
  draft-ietf-ppm-dap.md
Labels: editorial, draft-13

#617 Pass of overview
  draft-ietf-ppm-dap.md
Labels: editorial, draft-13

#624 Address issue 606 - add task start time
  draft-ietf-ppm-dap.md
Labels: draft-13, interim-2024-10-24

#629 Rephrase the introduction of batch modes
  draft-ietf-ppm-dap.md
Labels: editorial, draft-13

#623 Specify "streaming" aggregation as the norm.
  draft-ietf-ppm-dap.md
Labels: draft-13, interim-2024-10-24

#628 Require rejection of reports outside of the task's validity window
  draft-ietf-ppm-dap.md
Labels: draft-13

#631 Tweak aggregation skew recovery text.
  draft-ietf-ppm-dap.md
Labels: draft-13

#630 Allow Leader to indicate unknown extensions during upload.
  draft-ietf-ppm-dap.md
Labels: draft-13

#627 Improve extension points for new batch modes (*)
  draft-ietf-ppm-dap.md
Labels: wire breaking, draft-13

#603 Note only VDAFs without aggregation-ordering requirement are supported.
  draft-ietf-ppm-dap.md
Labels: draft-13

#632 Add public report extensions.
  draft-ietf-ppm-dap.md
Labels: wire breaking, draft-13
